.game-container {
  text-align: center;
  margin-top: 2rem;
}

.number-row,
.operator-row,
.control-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin: 0.3rem 0;
  user-select: none;
}

h1 {
  color: #4a4a4a;
  margin-bottom: 1rem;
  font-size: 2.7rem;
  user-select: none;
}

button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border: 2px solid #444;
  border-radius: 10px;
  background-color: #868379;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
}

button:hover {
  background-color: #8794c9;
}

button.selected {
  background-color: #0969a4;
  border-color: #1c90f3;
}

button:focus {
  outline: none;
}

.control-row button {
  font-size: 1.2rem;
  padding: 0.75rem 1.25rem;
  background-color: #b0a990;
  border-color: #444;
}

.control-row button:hover {
  background-color: #a9b5d1;
}

.puzzle-info {
  margin-bottom: 1rem;
}
